UPDATE payment_certifications SET items = '[{"unit":"CuM","item_num":"011","quantity":"1415.19","unit_price":80,"description":"Cold Milling Bituminous Concrete Pavement","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"403-001","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"LnM","item_num":"014","quantity":"158.12","unit_price":16,"description":"Removal, Storage & Delivery of Existing Guard Rail (any Typ)","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"606-004","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"LnM","item_num":"016","quantity":"134.12","unit_price":130,"description":"W-Beam Guardrail, Single Face","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"606-059","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"SqM","item_num":"017","quantity":"27.71","unit_price":60,"description":"Portland Cement Concrete Sidewalk","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"608-001","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"LnM","item_num":"020","quantity":"28.88","unit_price":165,"description":"Concrete Curb Type F","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"609-026","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"LnM","item_num":"023","quantity":"93","unit_price":250,"description":"Concrete Barrier Type C","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"610-024","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"Month","item_num":"025","quantity":"6","unit_price":2500,"description":"Field and Laboratory Office Model 2","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"611-011","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"Day","item_num":"036","quantity":"58","unit_price":50,"description":"Flashing Arrow Signs","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"638-013","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"Ea","item_num":"041","quantity":"7","unit_price":82,"description":"Relocation of Existing Traffic Signs","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"913-002","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"LnM","item_num":"042","quantity":"128","unit_price":300,"description":"Performed Concrete Median Barrier","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"975-020","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"Ea","item_num":"052","quantity":"1","unit_price":300,"description":"Traffic Sign Assembly, Code No","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":"1","qty_from_mos":1,"specification":"613-001","mos_unit_price":"300","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"300.00","has_material_on_site":false},{"unit":"Ea","item_num":"053","quantity":"1","unit_price":300,"description":"Traffic Sign Assembly, Code No","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":"1","qty_from_mos":1,"specification":"613-001","mos_unit_price":"300","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"300.00","has_material_on_site":false},{"unit":"Ea","item_num":"054","quantity":"1","unit_price":450,"description":"Traffic Sign Assembly, Code No","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":"1","qty_from_mos":1,"specification":"613-001","mos_unit_price":"450","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"450.00","has_material_on_site":false},{"unit":"Ea","item_num":"055","quantity":"3","unit_price":490,"description":"Traffic Sign Assembly, Code No","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":"3","qty_from_mos":3,"specification":"613-001","mos_unit_price":"490","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"1470.00","has_material_on_site":false},{"unit":"Ea","item_num":"056","quantity":"9","unit_price":400,"description":"Traffic Sign Assembly, Code No","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":"9","qty_from_mos":9,"specification":"613-001","mos_unit_price":"400","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"3600.00","has_material_on_site":false},{"unit":"Ea","item_num":"057","quantity":"1","unit_price":400,"description":"Traffic Sign Assembly, Code No","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":"1","qty_from_mos":1,"specification":"613-001","mos_unit_price":"400","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"400.00","has_material_on_site":false},{"unit":"Ea","item_num":"058","quantity":"3","unit_price":800,"description":"Traffic Sign Assembly, Code No","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":"3","qty_from_mos":3,"specification":"613-001","mos_unit_price":"800","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"2400.00","has_material_on_site":false},{"unit":"Ea","item_num":"060","quantity":"1","unit_price":600,"description":"Traffic Sign Assembly, Code No","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":"1","qty_from_mos":1,"specification":"613-001","mos_unit_price":"600","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"600.00","has_material_on_site":false},{"unit":"Ea","item_num":"061","quantity":"6","unit_price":600,"description":"Traffic Sign Assembly, Code No","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":"6","qty_from_mos":6,"specification":"613-001","mos_unit_price":"600","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"3600.00","has_material_on_site":false},{"unit":"Ea","item_num":"063","quantity":"1","unit_price":375,"description":"Traffic Sign Assembly, Code No","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":"1","qty_from_mos":1,"specification":"613-001","mos_unit_price":"375","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"375.00","has_material_on_site":false},{"unit":"Ea","item_num":"068","quantity":"1","unit_price":650,"description":"Traffic Sign Assembly, Code No","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":"1","qty_from_mos":1,"specification":"613-001","mos_unit_price":"650","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"650.00","has_material_on_site":false},{"unit":"Ea","item_num":"069","quantity":"3","unit_price":750,"description":"Traffic Sign Assembly, Code No","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":"3","qty_from_mos":3,"specification":"613-001","mos_unit_price":"750","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"2250.00","has_material_on_site":false},{"unit":"Ea","item_num":"075","quantity":"1","unit_price":400,"description":"Traffic Sign Assembly, Code No","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":"1","qty_from_mos":1,"specification":"613-001","mos_unit_price":"400","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"400.00","has_material_on_site":false},{"unit":"LnM","item_num":"076","quantity":"444","unit_price":4,"description":"Thermoplastic Pavement Marking Stripes, white","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":"444","qty_from_mos":444,"specification":"618-001","mos_unit_price":"4","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"1776.00","has_material_on_site":false},{"unit":"LnM","item_num":"077","quantity":"1805.4","unit_price":4,"description":"Thermoplastic Pavement Marking Stripes, yellow","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":"1805.4","qty_from_mos":1805.4,"specification":"618-002","mos_unit_price":"4","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"7221.60","has_material_on_site":false},{"unit":"Ea","item_num":"080","quantity":"3","unit_price":220,"description":"Kilometer Marker","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"621-044","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"Ea","item_num":"081","quantity":"7","unit_price":275,"description":"Kilometer and Hectometer Marker","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"621-045","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"Ea","item_num":"087","quantity":"1","unit_price":10000,"description":"Traffic Signal Support, Single Mast Arm Type 35 ft","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"JIKA ELECTRICAL CORP","mos_quantity":"1","qty_from_mos":1,"specification":"654-008","mos_unit_price":"10000","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"10000.00","has_material_on_site":false},{"unit":"Ea","item_num":"088","quantity":"1","unit_price":12000,"description":"Traffic Signal Support, Single Mast Arm Type 45 ft","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"JIKA ELECTRICAL CORP","mos_quantity":"1","qty_from_mos":1,"specification":"654-010","mos_unit_price":"12000","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"12000.00","has_material_on_site":false},{"unit":"LnM","item_num":"091","quantity":"362.31","unit_price":5,"description":"Conductor 3-No.14 AWG, RHH","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"654-214","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"LnM","item_num":"092","quantity":"362.31","unit_price":5,"description":"Conductor 4 - No 14 AWG, RHH","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"654-215","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"LnM","item_num":"093","quantity":"427.97","unit_price":6,"description":"Conductor 5-No. 14 AWG, RHH","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"654-216","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"Ea","item_num":"094","quantity":"1","unit_price":13000,"description":"Traffic Signal Sup, Single Mast Arm 50'' Galv Steel","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"JIKA ELECTRICAL CORP","mos_quantity":"1","qty_from_mos":1,"specification":"654-232","mos_unit_price":"13000","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"13000.00","has_material_on_site":false},{"unit":"LnM","item_num":"095","quantity":"29.87","unit_price":6,"description":"Conductor cable 7 - No. 14 AWG RHH","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"654-246","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"Ea","item_num":"096","quantity":"1","unit_price":15000,"description":"Traffic Signal Supp Single Mast Arm Type 60 Galv Steel","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"654-250","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"Ea","item_num":"097","quantity":"1","unit_price":10000,"description":"Traffic Signal Supp Single Mast Arm 30'' Galv Steel","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"JIKA ELECTRICAL CORP","mos_quantity":"1","qty_from_mos":1,"specification":"654-255","mos_unit_price":"10000","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"10000.00","has_material_on_site":true},{"unit":"Ea","item_num":"098","quantity":"4","unit_price":11000,"description":"Traffic Signal Supp Single Mast Arm 40'' Galv Steel","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":4,"specification":"654-256","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"LnM","item_num":"100","quantity":"350","unit_price":6,"description":"Electrical Conductor No. 2 RHH Copper XLP","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"654-308","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"LnM","item_num":"101","quantity":"49.13","unit_price":126,"description":"4 inch PVC Conduit Schedule 40","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"654-428","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"Ea","item_num":"102","quantity":"19","unit_price":900,"description":"Traffic Signal Head 3-S-V LED Configuration Mast Arm Mounted","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":19,"specification":"654-455","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"Ea","item_num":"103","quantity":"6","unit_price":900,"description":"Traffic Signal Head STD 3-L-V LED Configuration","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":6,"specification":"654-456","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"Ea","item_num":"104","quantity":"1","unit_price":1400,"description":"Traf Sig Head 5-SL-CPE with LED Config Mast Arm Mounted","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"654-457","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"Ea","item_num":"108","quantity":"19","unit_price":940,"description":"Pedestrian Signal Head Type P-12 LED 16 x 18","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"JIKA ELECTRICAL CORP.","mos_quantity":"19","qty_from_mos":19,"specification":"654-531","mos_unit_price":"940","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"17860.00","has_material_on_site":false},{"unit":"LnM","item_num":"114","quantity":"300","unit_price":11,"description":"Coaxial and Power Cable","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"654-644","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"Ea","item_num":"116","quantity":"2","unit_price":8000,"description":"Traf Signal Support S Mast Arm 25 ft Galv Steel","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"JIKA ELECTRICAL CORP.","mos_quantity":"2","qty_from_mos":2,"specification":"654-647","mos_unit_price":"8000","skip_retention":false,"mos_invoice_num":"","mos_invoice_total":"16000.00","has_material_on_site":false},{"unit":"Ea","item_num":"119","quantity":"4","unit_price":27000,"description":"Adv TS Cont Assemb NEMA Int/NTCIP Full Actuated","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"654-670","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"Ton","item_num":"132","quantity":"3307.06","unit_price":130,"description":"WMA Marshall S(75) (12)","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"962-012","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"Ton","item_num":"134","quantity":"296.33","unit_price":130,"description":"Control Strip Section","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"962-033","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"Ea","item_num":"139","quantity":"5","unit_price":1560,"description":"PREPA Underground Standard URD-4","fund_source":"ACT:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"635-218","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"Ea","item_num":"140","quantity":"34","unit_price":272,"description":"Cleaning Pull Box","fund_source":"ACT:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"956-140","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false},{"unit":"LS","item_num":"141","quantity":"100","unit_price":112,"description":"Special and/or Additional Work - (Grout concrete)","fund_source":"FHWA:100%","mos_lot_num":"1","mos_provider":"","mos_quantity":0,"qty_from_mos":0,"specification":"888-000","mos_unit_price":0,"skip_retention":false,"mos_invoice_num":"","mos_invoice_total":0,"has_material_on_site":false}]' WHERE project_id = '2e0d8d80-3542-451c-bbef-63a791012e34' AND cert_num = 8;
